.game {
   height: 100vh;
   padding: 45px;
   background-color: #545f7d;
   display: flex;
   justify-content: center;
   position: relative;
}

.draw {
   position: fixed;
	top: 0;
	height: 100vh;
	width: 100%;
   background-color: rgba(96, 90, 131, .9);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	color: #fff;
	z-index: 99999;
}